*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    background: #1B262C;
}

.nav {
    width: 100%;
    background: #0F4C75;
    display: flex;
    justify-content: space-between;
    min-height: 7rem;
    align-items: center;
    color: #eee;
    font-size: 100%;
    padding: 1rem;
    text-transform: uppercase;
}

.list {
    display: flex;
    list-style: none;
    gap: 4rem;
}

.cta {
    width: 11rem;
    padding: 0.5rem;
    font-size: 70%;
    background: #3282B8;
    border: none;
    color: #eee;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.cta:hover {
    cursor: pointer;
    background: hsl(204, 57%, 36%);
    transition: 0.2s;
}

.banner {
    height: 100vh;
    width: 100%;
    position: relative;
}

.banner > figure {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(27, 38, 44, 0.4), 70%, rgba(50, 130, 184, 0.4)), url("../img/pexels-chaitaastic-2031706.jpg");
    background-position: bottom;
    background-size: cover;
}

.banner > figure > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: #eee;
}   

.heading {
    font-family: "Edu QLD Beginner", cursive;
    font-size: 400%;
}

.heading2 {
    font-family: "Edu QLD Beginner", cursive;
    font-size: 150%;
}

.logo {
    font-size: 250%;
    color: #eee;
    border: 0.5rem solid #BBE1FA;
    border-radius: 50%;
    padding: 1.5rem;
}

.over {
    padding: 4rem;
    height: 80rem;
}

.over > header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.over > header > h2 {
    color: #eee;
    font-family: "Edu QLD Beginner", cursive;
    font-size: 200%;
}

.over > div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 100%;
}

.over > div > p {
    width: 55ch;
    color: #eee;
}

.over > div > img {
    width: 40rem;
    height: 60rem;
    object-fit: cover;
}