@use '../abstract/colors';
@use "../abstract/mixin.scss";
@use "../abstract/animation";

.divtober {
  @include mixin.FlexCenter;
    width: 45px;
    margin: 300px;
    height: 45px;
    animation-name: colorChangeBol;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 100%;
    box-shadow: 
    -300px -150px 0 colors.$color,
    -300px -100px 0 colors.$color,
    -300px -50px 0 colors.$color,
    -300px 0px 0 colors.$color,
    -300px 50px 0 colors.$color,
    -300px 100px 0 colors.$color,
    
    -150px -125px 0 colors.$color,
    -200px -80px 0 colors.$color,
    -250px -125px 0 colors.$color,

    -100px -150px 0 colors.$color,
    -100px -100px 0 colors.$color,
    -100px -50px 0 colors.$color,
    -100px 0px 0 colors.$color,
    -100px 50px 0 colors.$color,
    -100px 100px 0 colors.$color,

    200px -140px 0 colors.$color,
    150px -125px 0 colors.$color,
    120px -75px 0 colors.$color,
    120px -25px 0 colors.$color,
    120px 25px 0 colors.$color,
    150px 75px 0 colors.$color,
    200px 100px 0 colors.$color;
}
