
@keyframes colorChangeBol {
    0% {
      background-color: #2f424f; /* Starting color */
      border-radius: 100%;

    }
    50% {
      background-color: #189175; /* Ending color */
      border-radius: 30%;

    }
    100% {
        background-color: #2f424f; /* Starting color */
        border-radius: 100%;

    }
  }